table.principal {
	color: #292929;
	background-color: #7ce800;
	border-radius: 16px 0px 0px 16px;
	-moz-border-radius: 16px 0px 0px 16px;
	-webkit-border-radius: 16px 0px 0px 16px;
	border: 5px double #000000;
}
a:link		{color:#292929; background-color:transparent; text-decoration:none}
a:visited	{color:#292929; background-color:transparent; text-decoration:none}
a:hover		{color:#ff0000; background-color:transparent; text-decoration:underline}
a:active	{color:#ff0000; background-color:transparent; text-decoration:underline}